* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
ul{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}
li{
    list-style-type: none;
    display: inline;
}
.index-menu a {
    text-decoration: none;
    color: #CC0066;
    margin: 10px;
}
footer a{
    text-decoration: none;
    color: #CC0066;
    margin: 1px;
}
.index-menu{
    white-space: nowrap;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 2px;
}
.menu-other{
    background-color: #ffffff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.menu-current{
    background-color: #CC0066;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}
a.menu-current{
    color: white;
}
.index-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-shadow: red 0 0 20px;
}
nav{
    border-style: solid;
    border-width: 0px;
    border-top-width: 3px;
    border-color:#CC0066;
}
header{
    position: sticky;
    top: 0px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 3px;
    border-color:#CC0066;
}
footer{
    position: sticky;
    bottom: 0px;
    padding-top: 2px;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top-width: 2px;
    border-color:#CC0066;
}
main{
    margin: 0% 10%;
}
@media screen and (max-width: 1200px){
    main{
        margin: 0%;
    }
}
@media screen and (max-width: 980px){
    *{
        font-size: 1.5rem;
    }
    header img{
        width: 100%;
    }
    main{
        margin: 0%;
    }
}