*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/
ul.headmenu-list{
    list-style-type: none;
}
.headmenu-nav *{
    font-size: 0;
}
.headmenu-nav{
    margin: 0 auto;
    text-align: center;
}
.headmenu-list{
    border-top: 2px #CC0066 solid;
    border-bottom: 2px #CC0066 solid;
}
.headmenu-list li{
    display: inline-block;
    width: 225px;
}
.headmenu-list a:hover{
    background-color: #CC0066;
    color: white;
}
.headmenu-list a{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #CC0066;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    display: block;
    padding: 4px 0;
}
.headmenu-image{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 900px;
}

/*footer*/
.footinfo{
    clear: both;
    width: auto;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #CC0066;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #CC0066;
}
.footinfo-ref{
    text-decoration: none;
    font-weight: bold;
}

/*main*/
main.container, main .container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.floatimage-center{
    display: block;
    margin: 7px auto;
}
.floatimage-right.floatimage-right.floatimage-right{
    margin-left: 10px;
    float: right;
}
.floatimage-left{
    float: left;
}
.floatimage-after{
    clear: both;
}

/*general*/
a{
    text-decoration: none;
    font-weight: bold;
    color: #CC0066;
    padding-left: 2px;
    padding-right: 2px;
}

a span{
    padding: 3px;
    display: block;
    color: black;
    font-weight: normal;
}
a:hover{
    background-color: #cc0066;
    color: white;
    animation: a_hovercolors 1.1s infinite;
}
@keyframes a_hovercolors{
    0%{ color: #cc0066; background-color: transparent; }
    50%{ color: white; background-color: #cc0066; }
    100%{ color: #cc0066; background-color: transparent }
}

/*index*/
.index h2.index-head{
    font-weight: bold;
}
.index .index-cell h2{
    color:#CC0066;
    font-weight: bold;
    line-height: 1em;
}
.index .index-main{
    width: 80%;
    text-align: center;
}
.index .index-updates{
    width: 20%;
    padding-left: 10px;
    margin-left: 10px;
    border-left: #ff7aad solid 1px;
}
.index .index-updates li{
    list-style-position: inside;
}
.index-row{
    display: flex;
}

/*archive-wiki*/
.archive *{
    line-height: 1.5em;
}
.archive p{
    text-indent: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.archive h1, .archive h2, .archive h3, .archive span.h1, .archive span.h2, .archive span.h3{
    border-bottom: 1px solid #ff7aad;
    margin-top: 5px;
    margin-bottom: 10px;
    text-indent: 10px;
    overflow: hidden;
}
.archive h3{
    margin-left: 15px;
}
.archive-nav{
    margin: 15px;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #ff7aad;
    background-color: #ffeaf8;
    list-style-type: none;
}
.archive .archive-nav-h1{
    padding: 3px 0px;
    padding-left: 0px;
    font-weight: bold;
}
.archive .archive-nav-h2{
    padding: 2px 0px;
    padding-left: 20px;
}
.archive .archive-nav-h3{
    padding: 1px 0px;
    padding-left: 50px;
}
.archive .h2{
    padding-left: 0px;
}
.archive .h3{
    padding-left: 0px;
}

.archive ul{
    padding-left: 40px;
}
.archive ul li{
    margin: 3px 0px;
}

.archive .tablemaxwidth {
    width: 100%;
}
.archive .table td {
    border: 1px solid #ff7aad;
    border-collapse: collapse;
    padding: 3px 5px;
}
.archive .table th {
    background-color: #ffeaf8;
    /*color: #cc0066;*/
    border: 1px solid #ff7aad;
    border-collapse: collapse;
    padding: 3px 10px;
}
.archive .table {
    border: 1px solid #ff7aad;
    border-collapse: collapse;
    padding: 3px 5px;
}

.archive div.textbox {
    padding: 5px;
    border: 1px solid #ff7aad;
    background-color: #ffeaf8;
    list-style-type: none;
    margin: 10px 3px;
    overflow: hidden;
}

.archive div.textbox div, .archive div.textbox code {
    display: block;
    font-size: 90%;
    background-color: white;
    border: 1px solid #ff7aad;
    padding: 5px;
    margin: 0px;
    margin-bottom: 3px;
    overflow-y: scroll;
    max-height: 40em;
}
.archive div.textbox span.description{ /*--- TEXT UNDER ---*/
    display: block;
    font-size: 90%;
    color: black;
    text-align: center;
    font-weight: bold;
}

/* BQS-CODE */
.archive .bqs-code *, .archive .lang-code{
    font-family: monospace;
    font-size: 14px;
}
.bqs-code .bqs-comment{
    color: #808080;
}
.bqs-code .bqs-digit{
    color: #008000;
}
.bqs-code .bqs-keyword1, .bqs-code .bqs-bool, .bqs-code .bqs-type{
    color: #0000FF;
}
.bqs-code .bqs-specname{
    color: #008080;
}
.bqs-code .bqs-keyword2{
    color: #800080;
}
.bqs-code .bqs-string{
    color: #C10000;
}
.bqs-code .bqs-specmethodcall{
    color: #FF0080;
}
.bqs-code ol, .lang-code ol{
    list-style-type: decimal;
    padding-left: 50px;
    display: block;
    background-color: #fff2fb;
}
.bqs-code li, .lang-code li{
    display: list-item;
    background-color: white;
    padding-left: 10px;
}
/* BQS-CODE */

.archive div.images {
    display: flex;
}

.archive div.images div.imagebox{
    display: table-cell;
    height: min-content;
    width: 100%;
    flex: content;
}
.archive div.images div.imagebox img{
    width: 100%;
}

.archive div.imagebox {
    width: 23em;
    padding: 5px;
    border: 1px solid #ff7aad;
    background-color: #ffeaf8;
    list-style-type: none;
    margin: 10px 3px;
    overflow: hidden;
}
.archive div.imagebox img{
    width: 100%;
    border: 1px solid #ff7aad;
}
.archive div.imagebox img.no-borders{
    border: 0px none black;
}
.archive div.imagebox span{ /*--- TEXT UNDER ---*/
    display: block;
    font-size: 90%;
    line-height: 1.2em;
    color: black;
    text-align: center;
    font-weight: bold;
}
.archive div.imagebox.floatimage-after{
    margin: 0;
    margin-left: 5px;
}

.archive .manyelems .me-centeralign{
    text-align: center;
}
.archive .manyelems table.infobox{
    width: 100%;
}
.archive .manyelems .me-row{
    display: flex;
}
.archive .manyelems .me-cell{
    padding: 7px;
    display: table-cell;
}
.archive .manyelems .me-head{
    display: table-cell;
    width: 100%;
}
.archive .me-cols-1{
    width: 100%;
}
.archive .me-cols-2{
    width: 50%;
}
.archive .me-cols-3{
    width: 33.3%;
}
.archive .me-cols-4{
    width: 25%;
}

.archive table.infobox {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 3px;
    border: 1px solid #ff7aad;
    background-color: #ffeaf8;
    list-style-type: none;
    text-align: left;
    float: right;
    clear: right;
    border-collapse: separate;
    width: 23em;
}
.archive table.infobox tr {
    display: table-row;
}
.archive table.infobox tr * {
    display: table-cell;
    font-size: 90%;
    padding: 1px;
}
.archive table.infobox tr a,
.archive table.infobox tr b {
    display: inline;
    padding: 0px;
}
.archive table.infobox tr th {
    vertical-align: top;
}
.archive table.infobox tr th.middle {
    vertical-align: inherit;
}
.archive table.infobox tr th b{
    color:#CC0066;
}
.archive table.infobox tr br {
    border: 1px solid #ff7aad;
    margin: 5px 0;
}
.archive table.infobox tr.description { /*--- TEXT UNDER ---*/
    text-align: center;
    font-size: 90%;
    color: black;
    font-weight: bold;
}
.archive table.infobox tr.text {
    text-align: center;
}
.archive table.infobox tr.image {
    text-align: center;
}
.archive table.infobox tr.image td {
    padding: 0px;
}
.archive table.infobox tr.image img {
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
    border: 1px solid #ff7aad;
    padding: 0px;
}
.archive table.infobox tr.image img.no-borders{
    border: 0px none black;
}
.archive table.infobox tr.maintitle th{
    font-size: 120%;
    background-color: #ff96bf;
    padding: 2px 0px;
    width: 100%;
    text-align: center;
}
.archive table.infobox tr.title th{
    background-color: #ff96bf;
    padding: 1px;
    width: 100%;
    text-align: center;
}
.archive table.infobox tr.franchise th{
    padding: 1px;
    width: 100%;
    text-align: center;
}

/*project*/
.projects-row{
    display: flex;
    text-align: center;
}
.projects-cell{
    padding: 7px;
    display: table-cell;
    text-align: center;
}
.projects-head{
    display: table-cell;
    text-align: center;
    width: 100%;
}

.franchise-biker3, .archive table.infobox tr th.franchise-biker3{
    color: white;
    background: rgb(255, 75, 75);
}
.franchise-exnotes, .archive table.infobox tr th.franchise-exnotes{
    color: white;
    background: rgb(103, 58, 183);
}
.franchise-others, .archive table.infobox tr th.franchise-others{
    color: white;
    background: rgb(75, 75, 255);
}
.franchise-gr, .archive table.infobox tr th.franchise-others{
    color: black;
    background: #ff96bf;
}
.franchise-langs, .archive table.infobox tr th.franchise-langs{
    color: black;
    background: aqua;
}

h2.projects-head{
    font-weight: bold;
}
.projects-cell h2{
    color:#CC0066;
    font-weight: bold;
    line-height: 1em;
}
.projects-cell:hover{
    background-color: #ffeaf8;
    animation: projc_colors 1s infinite;
}
@keyframes projc_colors{
    0%{ background-color: transparent; }
    50%{ color: white; background-color: #ffeaf8; }
    100%{ background-color: transparent }
}

.projects-cols-1{
    width: 100%;
}
.projects-cols-2{
    width: 50%;
}
.projects-cols-3{
    width: 33.3%;
}
.projects-cols-4{
    width: 25%;
}

img.projects-screens-1{
    width: 100%;
    margin: 0 auto;
}
img.projects-screens-1-big{
    width: 75%;
    margin: 0 auto;
}
img.projects-screens-2{
    width: 49%;
    margin: 0 auto;
}
img.projects-screens-3{
    width: 33%;
    margin: 0 auto;
}

/*references*/
.ref-github{
    color: #400080;
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
    .container{
        width: 100%;
    }
    .archive table.infobox, .archive div.imagebox, .archive div.textbox{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 980px) {
    .index .index-cell, .index, .index-row{
        display: block;
    }
    .index .index-main, .index .index-updates{
        width: 100%;
    }
    .index .index-updates{
        padding-left: 0px;
        margin-left: 0px;
        border-left: 0px;
        padding-top: 10px;
        margin-top: 10px;
        border-top: #ff7aad solid 1px;
    }
    .index img{
        width: 80%;
    }
    .archive div.images, .archive div.images div.imagebox{
        display: block;
        margin: 5px 0;
    }
    .archive table.infobox, .archive div.imagebox, .archive div.textbox{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
    .container{
        width: 100%;
    }
    .projects-row, .archive .manyelems .me-row{
        display: block;
    }
    .projects-cell, .archive .manyelems .me-cell{
        display: block;
        width: 100%;
        padding: 7px 0px;
    }
    .projects-head{
        display: block;
    }
    .headmenu-image{
        width: 100%;
    }
    .headmenu-list li{
        display: block;
        width: 100%;
    }
    img.projects-screens-1, img.projects-screens-1-big, img.projects-screens-2, img.projects-screens-3{
        width: 98%;
    }
}

/*debug*/
/*{
    border: 1px red solid;
}
header, main, footer{
    border: 1px black solid;
}
li{
    border: 1px blue solid;
}/**/