.archive *{
    line-height: 1.5em;
}
.archive p{
    text-indent: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.archive h1, .archive h2, .archive h3, .archive span.h1, .archive span.h2, .archive span.h3{
    border-bottom: 1px solid var(--ext-color-1);
    margin-top: 5px;
    margin-bottom: 10px;
    text-indent: 10px;
    overflow: hidden;
}
.archive h3{
    margin-left: 15px;
}
.archive-nav{
    margin: 15px;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid var(--ext-color-1);
    background-color: var(--ext-color-4);
    list-style-type: none;
}
.archive .archive-nav-h1{
    padding: 3px 0px;
    padding-left: 0px;
    font-weight: bold;
}
.archive .archive-nav-h2{
    padding: 2px 0px;
    padding-left: 20px;
}
.archive .archive-nav-h3{
    padding: 1px 0px;
    padding-left: 50px;
}
.archive .h2{
    padding-left: 0px;
}
.archive .h3{
    padding-left: 0px;
}

.archive ul{
    padding-left: 40px;
}
.archive ul li{
    margin: 3px 0px;
}

.archive .tablemaxwidth {
    width: 100%;
}
.archive .table td {
    border: 1px solid var(--ext-color-1);
    border-collapse: collapse;
    padding: 3px 5px;
}
.archive .table th {
    background-color: var(--ext-color-4);
    /*color: var(--main-color-kotov);*/
    border: 1px solid var(--ext-color-1);
    border-collapse: collapse;
    padding: 3px 10px;
}
.archive .table {
    border: 1px solid var(--ext-color-1);
    border-collapse: collapse;
    padding: 3px 5px;
}

.archive div.textbox {
    padding: 5px;
    border: 1px solid var(--ext-color-1);
    background-color: var(--ext-color-4);
    list-style-type: none;
    margin: 10px 3px;
    overflow: hidden;
}

.archive div.textbox div, .archive div.textbox code {
    display: block;
    font-size: 90%;
    background-color: white;
    border: 1px solid var(--ext-color-1);
    padding: 5px;
    margin: 0px;
    margin-bottom: 3px;
    overflow-y: scroll;
    max-height: 40em;
}
.archive div.textbox span.description{ /*--- TEXT UNDER ---*/
    display: block;
    font-size: 90%;
    color: black;
    text-align: center;
    font-weight: bold;
}

.archive div.images {
    display: flex;
}

.archive div.images div.imagebox{
    display: table-cell;
    height: min-content;
    width: 100%;
    flex: content;
}
.archive div.images div.imagebox img{
    width: 100%;
}

.archive div.imagebox {
    width: 23em;
    padding: 5px;
    border: 1px solid var(--ext-color-1);
    background-color: var(--ext-color-4);
    list-style-type: none;
    margin: 10px 3px;
    overflow: hidden;
}
.archive div.imagebox img{
    width: 100%;
    border: 1px solid var(--ext-color-1);
}
.archive div.imagebox img.no-borders{
    border: 0px none black;
}
.archive div.imagebox span{ /*--- TEXT UNDER ---*/
    display: block;
    font-size: 90%;
    line-height: 1.2em;
    color: black;
    text-align: center;
    font-weight: bold;
}
.archive div.imagebox.floatimage-after{
    margin: 0;
    margin-left: 5px;
}

.archive .manyelems .me-centeralign{
    text-align: center;
}
.archive .manyelems table.infobox{
    width: 100%;
}
.archive .manyelems .me-row{
    display: flex;
}
.archive .manyelems .me-cell{
    padding: 7px;
    display: table-cell;
}
.archive .manyelems .me-head{
    display: table-cell;
    width: 100%;
}
.archive .me-cols-1{
    width: 100%;
}
.archive .me-cols-2{
    width: 50%;
}
.archive .me-cols-3{
    width: 33.3%;
}
.archive .me-cols-4{
    width: 25%;
}

.archive table.infobox {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 3px;
    border: 1px solid var(--ext-color-1);
    background-color: var(--ext-color-4);
    list-style-type: none;
    text-align: left;
    float: right;
    clear: right;
    border-collapse: separate;
    width: 23em;
}
.archive table.infobox tr {
    display: table-row;
}
.archive table.infobox tr * {
    display: table-cell;
    font-size: 90%;
    padding: 1px;
}
.archive table.infobox tr a,
.archive table.infobox tr b {
    display: inline;
    padding: 0px;
}
.archive table.infobox tr th {
    vertical-align: top;
}
.archive table.infobox tr th.middle {
    vertical-align: inherit;
}
.archive table.infobox tr th b{
    color: var(--MAIN-COLOR-KOTOV);
}
.archive table.infobox tr br {
    border: 1px solid var(--ext-color-1);
    margin: 5px 0;
}
.archive table.infobox tr.description { /*--- TEXT UNDER ---*/
    text-align: center;
    font-size: 90%;
    color: black;
    font-weight: bold;
}
.archive table.infobox tr.text {
    text-align: center;
}
.archive table.infobox tr.image {
    text-align: center;
}
.archive table.infobox tr.image td {
    padding: 0px;
}
.archive table.infobox tr.image img {
    width: 100%;
    margin: 0 auto;
    margin-top: 3px;
    border: 1px solid var(--ext-color-1);
    padding: 0px;
}
.archive table.infobox tr.image img.no-borders{
    border: 0px none black;
}
.archive table.infobox tr.maintitle th{
    font-size: 120%;
    background-color: var(--ext-color-2);
    padding: 2px 0px;
    width: 100%;
    text-align: center;
}
.archive table.infobox tr.title th{
    background-color: var(--ext-color-2);
    padding: 1px;
    width: 100%;
    text-align: center;
}
.archive table.infobox tr.franchise th{
    padding: 1px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 980px) and (max-width: 1200px) {
    .archive table.infobox, .archive div.imagebox, .archive div.textbox{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 980px) {
    .archive div.images, .archive div.images div.imagebox{
        display: block;
        margin: 5px 0;
    }
    .archive table.infobox, .archive div.imagebox, .archive div.textbox{
        float: none;
        width: 100%;
        margin: 10px auto;
    }
}